@import './stylesheets/variables.scss';

.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  background-color: $primary-color-2;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.checkout__title {
  margin: 15px;
  padding: 10px;
  border-bottom: 2px solid $primary-color-4;
}
