.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
}

.home__img {
  margin-bottom: -150px;
  z-index: -1;
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,0));
}

.home__row {
  display: flex;
  margin: 0 5px;
  z-index: 1;
}
