@import './stylesheets/variables.scss';

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  width: 300px;
  height: 100px;
  background-color: $primary-color-5;
  border: 1px solid $primary-color-4;
  border-radius: 6px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
  & input {
    margin-right: 5px;
    cursor: pointer;
  }
}

.subtotal__btn {
  cursor: pointer;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: $primary-color-3;
  &:hover {
    background-color: $secondary-color-1;
  }
  &:active {
    background-color: $secondary-color-2;
  }
}
